pwd* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
  text-align: center;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
  height: 100%;
}
/*header section*/
.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 10px;
  width: 50%;
}
img {
  height: 50px;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}
a {
  color: seashell;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}

/*main container section*/
.main-container {
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: column;
}

/*container 1 section*/
#container-1 {
  display: flex;
  background-image: url("../images/mission-background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: auto;
  margin: 0 auto;
  height: 700px;
  width: 1200;

  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}
.mission-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 1200px;
  height: 100px;
  background-color: black;
}

/* above container 2 section*/
#tea {
  display: flex;
  justify-content: center;
  padding-top: 65px;
  justify-content: space-between;
  flex-direction: column;
}
h2 {
  padding-bottom: 15px;
}
h4 {
  padding-bottom: 10px;
}
.featured-tea h4 {
  padding-top: 10px;
}

/*container 2 section*/
.fall {
  background-image: url("../images/berryblitz.jpg");
}
.spiced {
  background-image: url("../images/spiced-rum.jpg");
}
.seasonal {
  background-image: url("../images/donut.jpg");
}
.myrtle {
  background-image: url("../images/myrtle-ave.jpg");
}
.bedford {
  background-image: url("../images/bedford-bizarre.jpg");
}

#container-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.featured-tea {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
  border-bottom:
}
.fall, .spiced,
.seasonal, .myrtle,
.bedford {
  display: flex;
  width: 300px;
  height: 200px;
  flex-direction: row;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: auto;
}

/*container 3 section*/
#container-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 500px;
  width: 1200px;
  flex-direction: column;

  background-image: url("../images/locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
#container-3 h2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

}
.addresses {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  padding-right: 90px;
  padding-left: 90px;
}
.downtown,
.east-bayside,
.oakdale {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  opacity: 1px;
  border: 1px solid red;
}


.container-4 {
  height: 200px;
}
